window {
margin: 0px;
background-color: transparent;

}

#input {
margin: 0px;
border:none;
color: #8da9d1;
background-color: #243b4d;
}

#inner-box {
margin: 5px;
border: none;
background-color: #243b4d;
}

#outer-box {
margin: 5px;
border: none;
padding: 20px;
background-color: #243b4d;
border-radius: 50px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #8da9d1;
}
